<div class="wrapper-grey padded">

  <div class="container">
    <div class="row text-center">
      <h2>Your next trip</h2>

      <% data.cards.each do |card| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url('<%= image_path(card.backimg)%>')">
            <div class="card-category">
              <%= card.cat%> </div>
            <div class="card-description">
              <h2><%=card.header%></h2>
              <p><%=card.descripiton%></p>
            </div>
            <img src='<%= image_path(card.avatar)%>' alt="" class="avatar-large">
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
